<section class="container-fluid content-main">
  <div class="cardrow row justify-content-center align-items-center">
      <div class="col-sm-6 col-md-4 col-lg-3">
          <a [routerLink]="['/dashboard/transfer']" class="card mb-4">
              <div class="card-body">
                  <i class="icon transferencia"></i>
                  Transferências 
              </div>
          </a>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
          <a [routerLink]="['/dashboard/extract']" class="card mb-4">
              <div class="card-body">
                  <i class="icon extrato"></i>
                  Extratos
              </div>
          </a>
      </div>
  </div>
</section>
