    <section class="container-fluid content-main">
        <div class="row justify-content-center align-items-center">
            <div class="card-receipt">
                <div class="card-header">
                    Comprovante de Transferência
                </div>
                <div class="card-block">
                    <h4 class="card-receipt-title">{{ name }}</h4>
                    <p class="card-receipt-text">Conta: {{ conta }}</p>
                    <p class="card-receipt-text">Data: {{ data | date:'dd/MM/yyyy - HH:mm:ss' }}</p>
                    <p class="card-receipt-text">Valor: {{ value | currency: 'R$ ' }}</p>
                    <p class="card-receipt-text">Autenticação: {{ hash }}</p>
                    <a href="#" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
    </section>
