<section class="container-fluid content-main">
    <div class="row justify-content-center align-items-center">
        <div class="card-receipt">
            <div class="card-header">
                Transferência Realizada com Sucesso!
            </div>
            <div class="card-block">
                <p class="card-receipt-text">Comprovante de Transferência:</p>
                <hr>
                <p class="card-receipt-text">Conta: 09464722-54</p>
                <p class="card-receipt-text">Data: 02/02/2018</p>
                <p class="card-receipt-text">Valor: R$250,00</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
</section>
