<app-sidenav></app-sidenav>
<main class="main">
  <app-header></app-header>
  <section class="content-main">
    <div class="row justify-content-center align-items-center">
      <form action="" id="formTransfer" class="col-md-12">
        <div class=" justify-content-center align-items-center">
          <div class="row col-lg-12">
            <div class="col-sm-6 col-xs-12 p-3">
              <label for="numContaOrigem">Número da conta de origem: </label>
              <input type="text" id="numContaOrigem" name="numContaOrigem" class="col-sm form-control" placeholder="Conta Origem" required>
            </div>
            <hr>
            <div class="col-sm-6 col-xs-12 p-3">
              <label for="numContaDestino">Número da conta de destino: </label>
              <input type="text" id="numContaDestino" name="numContaDestino" class="col-sm form-control" placeholder="Conta Destino" required>
            </div>
            <hr>
            </div>
            <div class="row col-lg-12">
            <div class="col-sm-6 col-xs-12 p-3">
              <label for="dataTransfer">Data da Transferencia</label>
              <input type="text" id="dataTransfer" name="dataTransfer" class="col-sm form-control" placeholder="DD/MM/AAAA" pattern="\d{1,2}/\d{1,2}/\d{4}"
                required>
            </div>
            <hr>
            <div class="col-sm-6 col-xs-12 p-3">
              <label for="valorTransfer">Valor da Transferência</label>
              <input type="text" id="valorTransfer" name="valorTransfer" class="col-sm form-control" placeholder="Valor em R$">
              <button class="btn btn-primary btn-submit float-right mb-4">Avançar</button>
            </div>
          </div>
        </div>
        
      </form>
    </div>

    <!-- <div class="row justify-content-center align-items-center">
      <div class="col-md">
        
      </div>
    </div> -->

  </section>
</main>