<app-sidenav></app-sidenav>
<main class="main">
  <app-header></app-header>
  <section class="content-main">
    <div class="row justify-content-center align-items-center">
      <form action="" id="formTransfer">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <label for="numConta">Numero da conta</label>
            <input type="text" id="numConta" name="numConta">
            <label for="valorTransfer">Numero da conta</label>
            <input type="text" id="valorTransfer" name="valorTransfer">
            <label for="dataTransfer">Data da Transferencia</label>
            <input type="text" id="dataTransfer" name="dataTransfer">
          </div>
        </div>
      </form>
    </div>
  </section>
</main>