<div class="fullscreen login">
  <main class="login-center">
          <section class="box-login">
              <header class="login-header">
                  <h4 class="title-login">Login</h4>
              </header>
              <form action="" class="login-form" id="formLogin">
                  <input type="text" placeholder="CPF">
                  <input type="text" placeholder="Password">
                  <input type="checkbox" name="remember" id="remember">
                  <label for="remember">Remember-me</label>
                  <button class="waves-effect waves-light indigo btn right">Login</button>
              </form>
              <footer class="login-footer">
                  <p class="text-center">Doesn't have a account? <a href="/signup">Sign Up</a></p>
              </footer>
          </section>
  </main>
</div>