<header class="container-fluid header-main">
  <div class="row justify-content-end align-items-center">
    <div class="info-conta">
      <p class="info-conta__nome">Saldo</p>
      <p class="info-conta__numero">R$ {{user_info.balance}}</p>
    </div>
    <div class="info-conta mr-4">
      <p class="info-conta__nome">{{user_info.alias}}</p>
      <p class="info-conta__numero">Conta: {{user_info.account}}</p>
    </div>
  </div>
</header>

<!-- ideia: disponibilizar opção de ocultar saldo dentro do header -->