/* Header */
.header-main{
    background-repeat: repeat-x;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    background: #fdfdfd;
    -webkit-box-shadow: -1px 0px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 18px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 18px -1px rgba(0,0,0,0.75);
    z-index:2;
    position: fixed;
    top: 0;
    left: 0;
}
.header-main .row{
    margin-bottom: 0;
    height: 110px;
}
.header-main .info-conta{
    padding: 0px 15px;
}
.info-conta .info-conta__nome{
    margin-bottom: 5px;
    color: #303F9F;
    font-weight: bold;
}
.info-conta .info-conta__numero{
    margin-bottom: 0px;
    color: #303F9F;
}
.line-bar{
    font-size: 0;
    line-height: 80px;
    width: 1px;
    background-color: #303F9F;
}