  <section class="content-main">
    <div class="row justify-content-center align-items-center">
      <form #formTranfer="ngForm" action="" id="formTransfer" class="col-md-12">
        <div class="justify-content-center align-items-center">
          <div *ngIf="transfer_info.error" ngClass="transfer_info.error ? toast-error : ''">
            {{transfer_info.error}}
          </div>
          <div class="row  justify-content-md-center  col-lg-12">
            
            <div class="col-sm-6 col-xs-12 p-3">
              <label for="numContaDestino">Número da conta de destino: </label>
              <input [(ngModel)]="transfer.account_number_dest"
                     type="text"
                     id="numContaDestino"
                     name="numContaDestino"
                     class="col-sm form-control"
                     placeholder="Conta Destino"
                     required>
            </div>
            </div>
            <div class="row justify-content-md-center  col-lg-12">
            
            <div class="col-sm-6 col-xs-12 p-3">
              <label for="valorTransfer">Valor da Transferência</label>
              <input
                    [(ngModel)]= "transfer.value"
                    type="text"
                    id="valorTransfer"
                    name="valorTransfer"
                    class="col-sm form-control"
                    placeholder="Valor em R$">
            </div>
            </div>

            <div class="row justify-content-md-center col-lg-12">
            
              <div class="col-sm-6 col-xs-12 p-3">
                <label for="valorTransfer">Digite sua senha</label>
              <input
                    [(ngModel)]= "transfer.senha"
                    type="password"
                    id="senhaTransfer"
                    name="senhaTransfer"
                    class="col-sm form-control"
                    placeholder="Senha">
              <button (click)="newTransfer()" class="btn btn-primary btn-submit float-right mb-4">Avançar</button>
              </div>
              </div>
          </div>

      </form>
    </div>
  </section>