<app-sidenav></app-sidenav>
<main class="main">
  <app-header></app-header>
    <section class="container-fluid content-main">
        <div class="row justify-content-center align-items-center">
            <div class="card-receipt">
                <div class="card-header">
                    Informações da Transferência
                </div>
                <div class="card-block">
                    <h4 class="card-receipt-title">Pedro Carlos</h4>
                    <p class="card-receipt-text">Cod.: 09464722-54</p>
                    <p class="card-receipt-text">Data: 02/02/2018</p>
                    <p class="card-receipt-text">Transferência entre Contas : TEF</p>
                    <p class="card-receipt-text">Valor: R$250,00</p>
                    <a href="#" class="btn btn-primary">Confirmar</a>
                </div>
            </div>
        </div>
    </section>

</main>