<app-sidenav></app-sidenav>
<main class="main">
  <app-header></app-header>
  <section class="content-main">
    <div class="row justify-content-center align-items-center">
      <div class="col-8 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <i class="icon transferencia"></i>
            Transferências 
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <i class="icon extrato"></i>
            Extratos
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card d-flex justify-content-center texto">
          <div class="card-body text-left">
            <p><small>Conta Corrente</small></p>    
            <p><span class="moeda">R$</span> 2500,00</p>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</main>
