<section id="extractTable" class="container-fluid content-main">
    <div class="col-12">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-10">
                <div class="row justify-content-center">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="lastTwo()">2 dias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="lastFive()" routerLinkActive="active">5 dias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">30 dias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">60 dias</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-10 ">
                <div class="table-responsive">
                    <table class="table table-hover extract">
                        <thead class="credit">
                            <tr>
                                <th scope="col">#Data</th>
                                <th scope="col">#Transação</th>
                                <th scope="col">#Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transfer of listaTransfCred">
                                <td>{{transfer.date.substring(8,10)}}/{{transfer.date.substring(4,7)}}</td>
                                <td>Crédito</td>
                                <td>R${{transfer.value}},00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-sm-10 ">
                <div class="table-responsive">
                    <table class="table table-hover extract">
                        <thead class="debit">
                            <tr>
                                <th scope="col">#Data</th>
                                <th scope="col">#Transação</th>
                                <th scope="col">#Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transfer of listaTransfDeb">
                                <td>{{transfer.date.substring(8,10)}}/{{transfer.date.substring(4,7)}}</td>
                                <td>Débito</td>
                                <td>R${{transfer.value}},00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a [routerLink]="['/dashboard']" class="btn btn-secondary col-sm-3 btnVoltar">Voltar</a>
        </div>
    </div>
</section>