#extractTable {
    padding: 25px 0;
}

#extractTable .nav-link.active ,
#extractTable .nav-link:hover, 
#extractTable .nav-link:focus {
    border-radius: 0;
    background: #303f9f;
    margin: 10px 0;
    color: #fff;
    transition: .2s ease
}

#extractTable .nav-link{
    border-radius: 0;
    color: #303f9f;
    margin: 10px 0;
}

#extractTable .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #303f9f;
    border-color: #303f9f;
}

.icon-extract {
    margin: 5px;
}

#extractTable .btnVoltar {
    margin: 20px;
    padding:10px;
    border-radius: 0;
}

.extract thead {
    border-radius: 0;
    margin: 10px 0;
    color: #fff;
}

.extract .credit,.extract thead.credit th {
    background: #28a745
}

.extract .debit, .extract thead.debit th  {
    background: #b53030
}

.extract tr:hover, 
.extract tr:focus{
    cursor: pointer;
    transition: .2s ease;
    border-radius: 0;
    background-color: #303f9f;
    color: #ffffff;
    margin: 10px 0;
}
